DJANGO_DEBUG=False
DJANGO_SECRET_KEY=
OPENAI_API_KEY=
LLM_MODEL_DRF=
DBLLM_ENGINE='django.db.backends.postgresql'
DBLLM_HOST=localhost
DBLLM_DATABASE=
DBLLM_USERNAME=postgres
DBLLM_PASS=
DBLLM_PORT=5432

POSTGRES_URL="************"
POSTGRES_PRISMA_URL="************"
POSTGRES_URL_NON_POOLING="************"
POSTGRES_USER="************"
POSTGRES_HOST="************"
POSTGRES_PASSWORD="************"
POSTGRES_DATABASE="************"