{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
        <img src="{% static 'recipes/images/recipebook.png' %}" width="50px" alt="Logo" />
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mynavbar"
        >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-{% autoescape off %} py-3 {% endautoescape %}">
                <li class="nav-item ps-5">
                <a class="nav-link" href="javascript:void(0)">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Contact</a>
                </li>
            </ul>
        </div>
        <div class="justify-content-end pe-3">
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search" />
                <button class="btn btn-primary" type="button">Search</button>
            </form>
        </div>
  </div>
</nav>
